.fc-toolbar .fc-right{
    float:none;
}

.fc-toolbar .fc-left{
    float:none;
    h2{
        float:none !important;
    }
}

.fc-button{
    margin-right: .75em !important;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #979797;
}

.fc-today-button{
    text-transform: capitalize;
}