.fc-toolbar .fc-right{
    float:none;
}

.fc-toolbar .fc-left{
    float:none;
    margin-bottom: 20px;
    h2{
        float:none !important;
    }
}

.fc-button{
    margin-right: .75em !important;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #979797;
}

.fc-today-button{
    text-transform: capitalize;
}

.fc-view-container *, .fc-view-container *:before, .fc-view-container *:after{
    height:100%;
}